<div align="center">
    <h4>Your Documents</h4>
</div>
<uib-accordion close-others="true">
    <div uib-accordion-group class="panel-primary" heading="Documents in Published Work stream" is-open="true" is-disabled="false">
        <div class="panel panel-default">
            <table class="table table-striped">
                <tr ng-repeat="publishedItem in vm.docDetails.publishedWorkDocs">
                    <td class="col-md-7">
                        <p>Filename:<strong> {{publishedItem.fileName}}</strong></p>
                        <p>SHA-256 Hash: {{publishedItem.fileHash}}</p>
                        <p>Submitted on: {{publishedItem.submissionTimeToPlagchain | date:'dd-MM-yy HH:mm:ss Z'}}</p>
                        <p ng-show="publishedItem.confirmationTime.length > 0">Confirmed on: {{publishedItem.confirmationTime | date:'dd-MM-yy HH:mm:ss Z'}}</p>
                    </td>
                    <td align="center">
                        <div ng-show="!publishedItem.fetchedByPDModule">
                            <div ng-init="x = 1">
                                    <span style="font-size: 30px; color:#FFEB3B;" uib-rating ng-model="x" titles="vm.iconTitles" data-toggle="tooltip"
                                          read-only="true" max="5"state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'"></span>
                            </div>
                        </div>
                        <div ng-show="publishedItem.fetchedByPDModule">
                            <div ng-show="publishedItem.confirmation === 0">
                                <div ng-init="x = 2">
                                    <span style="font-size: 30px; color:#FFC107;" uib-rating ng-model="x" titles="vm.iconTitles" data-toggle="tooltip"
                                          read-only="true" max="5"state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'"></span>
                                </div>
                            </div>
                            <div ng-show="publishedItem.confirmation === 1">
                                <div ng-init="x = 3">
                                    <span style="font-size: 30px; color:#CDDC39;" uib-rating ng-model="x" titles="vm.iconTitles" data-toggle="tooltip"
                                          read-only="true" max="5"state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'"></span>
                                </div>
                            </div>
                            <div ng-show="publishedItem.confirmation === 2">
                                <div ng-init="x = 4">
                                    <span style="font-size: 30px; color:#8BC34A;" uib-rating ng-model="x" titles="vm.iconTitles"
                                          read-only="true" max="5"state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'"></span>
                                </div>
                            </div>
                            <div ng-show="publishedItem.confirmation === 3">
                                <div ng-init="x = 5">
                                    <span style="font-size: 30px; color:#009688;" uib-rating ng-model="x" titles="vm.iconTitles"
                                          read-only="true" max="5"state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'"></span>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-info" download="plagchainseed.txt" ng-href="{{vm.url}}" ng-click="vm.downloadSeed(publishedItem.plagchainSeed)">Download Plagchain Seed</a>
                        <a class="btn btn-info" download="originstampseed.txt" ng-href="{{vm.url}}" ng-click="vm.downloadSeed(publishedItem.originstampSeed)">Download Originstamp Seed</a>
                        <a href="https://blockchain.info/tx/{{publishedItem.transactionAddress}}">Verify on http://blockchain.info</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div uib-accordion-group class="panel-primary" heading="Documents in Unpublished Work stream">
        <div class="panel panel-default">
            <table class="table table-striped">
                <tr ng-repeat="publishedItem in vm.docDetails.unpublishedWorkDocs">
                    <td>
                        <p>Filename:<strong> {{publishedItem.fileName}}</strong></p>
                        <p>SHA-256 Hash: {{publishedItem.fileHash}}</p>
                        <p>Submitted on: {{publishedItem.submissionTimeToPlagchain | date:'dd-MM-yy HH:mm:ss Z'}}</p>
                        <p ng-show="publishedItem.confirmationTime.length > 0">Confirmed at: {{publishedItem.confirmationTime | date:'dd-MM-yy HH:mm:ss Z'}}</p>
                    </td>
                    <td align="center">
                        <div ng-show="!publishedItem.fetchedByPDModule">
                            <div ng-init="x = 1">
                                    <span style="font-size: 30px; color:#FFEB3B;" uib-rating ng-model="x" titles="vm.iconTitles" data-toggle="tooltip"
                                          read-only="true" max="5"state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'"></span>
                            </div>
                        </div>
                        <div ng-show="publishedItem.fetchedByPDModule">
                            <div ng-show="publishedItem.confirmation === 0">
                                <div ng-init="x = 2">
                                    <span style="font-size: 30px; color:#FFC107;" uib-rating ng-model="x" titles="vm.iconTitles" data-toggle="tooltip"
                                          read-only="true" max="5"state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'"></span>
                                </div>
                            </div>
                            <div ng-show="publishedItem.confirmation === 1">
                                <div ng-init="x = 3">
                                    <span style="font-size: 30px; color:#CDDC39;" uib-rating ng-model="x" titles="vm.iconTitles" data-toggle="tooltip"
                                          read-only="true" max="5"state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'"></span>
                                </div>
                            </div>
                            <div ng-show="publishedItem.confirmation === 2">
                                <div ng-init="x = 4">
                                    <span style="font-size: 30px; color:#8BC34A;" uib-rating ng-model="x" titles="vm.iconTitles"
                                          read-only="true" max="5"state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'"></span>
                                </div>
                            </div>
                            <div ng-show="publishedItem.confirmation === 3">
                                <div ng-init="x = 5">
                                    <span style="font-size: 30px; color:#009688;" uib-rating ng-model="x" titles="vm.iconTitles"
                                          read-only="true" max="5"state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'"></span>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-info" download="plagchainseed.txt" ng-href="{{vm.url}}" ng-click="vm.downloadSeed(publishedItem.plagchainSeed)">Download Plagchain Seed</a>
                        <a class="btn btn-info" download="originstampseed.txt" ng-href="{{vm.url}}" ng-click="vm.downloadSeed(publishedItem.originstampSeed)">Download Originstamp Seed</a>
                        <a href="https://blockchain.info/tx/{{publishedItem.transactionAddress}}">Verify on http://blockchain.info</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</uib-accordion>
