<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">Generate Hash From Document</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <jhi-alert></jhi-alert>
            <p class="alert alert-info">
                Your file content will not be stored or visible to anyone.<br>
                Please upload the same file: <strong>{{vm.requestDetails.userFileName}}</strong>
            </p>
            <p class="alert alert-warning" ng-if="!vm.sameFile">
                The selected file name does not match the requested file name. Are you sure you want to continue?
            </p>
            <form name="userDocRequestDocForm" role="form" novalidate ng-submit="vm.sendUserDocument()" show-validation>
                <div class="form-group">
                    <label for="userDocRequest" class="control-label">File: *</label>
                    <input class="form-control" id="userDocRequest" name="userDocRequest" ng-model="vm.userDocModalFormData.userDocRequest"
                           type="file" ng-change="vm.requestDetails.userFileName === vm.userDocModalFormData.userDocRequest.name ? vm.sameFile=true : vm.sameFile=false" accept=".pdf, .txt" ngf-select ngf-max-size="50MB" required>
                    <p class="help-block">Please select only .pdf or .txt file.</p>
                    <div ng-show="userDocRequestDocForm.userDocRequest.$dirty && userDocRequestDocForm.userDocRequest.$invalid">
                        <p class="help-block" ng-show="userDocRequestDocForm.userDocRequest.$error.required">Please select a PDF or TXT file.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="userBalance" class="control-label">Your balance:</label>
                    <span id="userBalance">{{vm.account.realTimeCurrencyBalance}}</span>
                </div>
                <div class="form-group">
                    <label for="authorDocPrice" class="control-label">Price of author for assisting similarity check:</label>
                    <span id="authorDocPrice">{{vm.requestDetails.authorDocCheckPrice}}</span>
                    <p class="alert-danger" ng-if="vm.requestDetails.authorDocCheckPrice > vm.account.realTimeCurrencyBalance">You do not have sufficient balance! Please wait for next distribution cycle of your associated miner.</p>
                </div>
                <div class="form-group" ng-if="vm.account.privKeyOption === 0">
                    <label class="control-label" for="password">Login password to decrypt your private key: *</label>
                    <input type="password" class="form-control" id="password" name="password" ng-model="vm.userDocModalFormData.password" ng-change="vm.checkPassword()"
                           placeholder="Your login password.." required>
                    <div ng-show="userDocRequestDocForm.password.$dirty && userDocRequestDocForm.password.$invalid">
                        <p class="help-block" ng-show="userDocRequestDocForm.password.$error.required">
                            Please enter your password.
                        </p>
                    </div>
                    <div ng-show="vm.invalidPassword">
                        <p class="help-block" style="color: red">
                            Your password is incorrect.
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-if="vm.account.privKeyOption === 2">
                    <label class="control-label" for="privKey">Enter your private key: </label>
                    <input type="text" class="form-control" id="privKey" name="privKey" ng-model="vm.userDocModalFormData.decryptedPrivKey"
                           placeholder="Your private key.." required>
                    <div ng-show="userDocRequestDocForm.privKey.$dirty && userDocRequestDocForm.privKey.$invalid">
                        <p class="help-block" ng-show="userDocRequestDocForm.privKey.$error.required">
                            Please enter your private key.
                        </p>
                    </div>
                </div>
                <br/>
                <button type="submit" ng-disabled="userDocRequestDocForm.$invalid || (vm.account.privKeyOption === 0 && vm.invalidPassword) ||
                    (vm.requestDetails.authorDocCheckPrice > vm.account.realTimeCurrencyBalance)" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
            </form>
        </div>
    </div>
</div>
