<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Registration</h1>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Registration successful!</strong>
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                The password and its confirmation do not match!
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.register()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="login">Username</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Your username"
                           ng-model="vm.registerAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/" required>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                               ng-show="form.login.$error.required">
                            Your username is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.minlength">
                            Your username is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.maxlength">
                            Your username cannot be longer than 50 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.pattern">
                            Your username can only contain lower-case letters and digits.
                    </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="miners">Select a miner to associate</label>
                    <select class="form-control" id="miners" name="miners"
                            ng-options="option.minerName for option in vm.listOfMiners track by option.minerName"
                            ng-model="vm.registerAccount.selectedMiner" required>
                        <option value="">--Choose a Miner--</option>
                    </select>
                    <div ng-show="form.miners.$dirty && form.miners.$invalid">
                        <p class="help-block"
                           ng-show="form.miners.$error.required">
                            You need to select a miner.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100 required
                           ng-disabled="!vm.registerAccount.selectedMiner" ng-change="vm.checkEmailFormat()">
                    <div ng-show="!vm.registerAccount.selectedMiner">
                        <p class="help-block">Please first select a miner.</p>
                    </div>
                    <div class="help-block" ng-show="vm.invalidEmail && vm.registerAccount.selectedMiner">
                        <p class="text-danger">Your email does not end with one of the required formats:
                        <i ng-repeat="email in vm.registerAccount.selectedMiner.emailFormats">{{email}}</i>
                        </p>
                    </div>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            Your email is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            Your email is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
                            Your email is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            Your email cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Generated Plagchain Address and Keys
                        </div>
                    </div>
                    <div class="panel-body">
                        <label class="control-label" for="plagchainaddress">Address:</label>
                        <p class="text-primary" id="plagchainaddress">{{vm.plagchainaddress.address}}</p>
                        <label class="control-label" for="plagchainpubkey">Public Key:</label>
                        <p class="text-primary" id="plagchainpubkey">{{vm.plagchainaddress.pubkey}}</p>
                        <label class="control-label" for="plagchainprivkey">Private Key:</label>
                        <p class="text-primary" id="plagchainprivkey">{{vm.plagchainaddress.privkey}}</p>

                        <label class="control-label">Choose private key management option:</label>
                        <div class="radio">
                            <label><input type="radio" ng-model="vm.registerAccount.privKeyOption" value=0 ng-checked="true">Encrypt private key using login password and store on UI server. (You will be required to decrypt the key, wherever required.)</input></label>
                            <label><input type="radio" ng-model="vm.registerAccount.privKeyOption" value=1>Store plain text private key on UI server.</input></label>
                            <label><input type="radio" ng-model="vm.registerAccount.privKeyOption" value=2>I will manage my private key. (You will be required to provide the key, wherever required.)</input></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                               ng-show="form.password.$error.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.minlength">
                            Your password is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="login">Your price for document check requests</label>
                    <input type="number" class="form-control" id="docPrice" name="docPrice" placeholder="Your price 0 - 99999999"
                           ng-model="vm.registerAccount.docPrice" ng-minlength=1 ng-maxlength=8  required>
                    <div ng-show="form.docPrice.$dirty && form.docPrice.$invalid">
                        <p class="help-block"
                           ng-show="form.docPrice.$error.required">
                            Document price is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.docPrice.$error.minlength">
                            Document price is required to be at least 1 character. You can also enter 0.
                        </p>
                        <p class="help-block"
                           ng-show="form.docPrice.$error.maxlength">
                            Document price cannot be longer than 99999999.
                        </p>
                    </div>
                </div>
                <button type="submit" ng-disabled="form.$invalid || vm.invalidEmail" class="btn btn-primary">Register</button>
            </form>
            <p></p>
        </div>
    </div>
</div>
