<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4 align="center">Check Document Similarity</h4>
        <jhi-alert></jhi-alert>
        <div ng-if="vm.results.listOfSimilarPublishedWork.length === 0 && vm.results.listOfSimilarUnpublishedWork.length === 0" class="alert alert-info">
            <p align="center">No similar documents found!</p>
        </div>
        <div class="col-sm-10">
            <p align="left">* Mandatory Fields</p>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <form name="pdfPlagCheck" id="pdfPlagCheck" role="form" novalidate ng-submit="vm.checkForPlagiarism()" show-validation>
            <div class="form-group">
                <label for="plagCheckDoc" class="control-label">File: *</label>
                <input class="form-control" name="plagCheckDoc" id="plagCheckDoc" ng-model="vm.data.plagCheckDoc"
                       type="file" accept=".pdf" ngf-select ngf-max-size="50MB" required>
                <p class="help-block">Please upload only .pdf file.</p>
                <div ng-if="pdfPlagCheck.plagCheckDoc.$dirty && pdfPlagCheck.plagCheckDoc.$invalid">
                    <p class="help-block" ng-if="pdfPlagCheck.plagCheckDoc.$error.required">Please select a pdf file.</p>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input id="checkUnpublishedWork" name="checkUnpublishedWork" ng-model="vm.data.checkUnpublishedWork" type="checkbox"> Check for similar documents in <b>unpublished</b> work stream.
                    </label>
                </div>
            </div>
            <div vc-recaptcha key="vm.recaptcha.key" on-create="vm.setWidgetId()" on-success="vm.setResponse(response)" on-expire="vm.cbExpiration()"></div>
            <br/>
            <button type="submit" ng-disabled="pdfPlagCheck.$invalid" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<br/><br/>

<div class="row" ng-if="vm.results.listOfSimilarPublishedWork.length > 0 || vm.results.listOfSimilarUnpublishedWork.length > 0">
    <div class="col-md-8 col-md-offset-2">
        <uib-accordion close-others="false">
            <div ng-if="vm.results.listOfSimilarPublishedWork.length > 0">
                <div uib-accordion-group class="panel-primary" heading="Similar Documents in Published Work stream" is-open="true">
                    <div class="panel panel-default">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Document</th>
                                    <th>Similarity Percentage</th>
                                    <th>Contact Info</th>
                                    <th>*Request Author</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="simDoc in vm.results.listOfSimilarPublishedWork">
                                    <td>{{simDoc.fileName}}</td>
                                    <td>{{simDoc.similarityScore * 100 | number : 2}}%</td>
                                    <td>{{simDoc.contactInfo}}</td>
                                    <td>
                                        <button class="btn btn-default" type="button" ng-click="vm.createPlagCheckRequest(simDoc)" ng-disabled="simDoc.disabled"
                                            ng-if="vm.currentUserWalletAddress !== simDoc.publisherWalletAddress">
                                            <span ng-class="simDoc.disabled ? 'glyphicon glyphicon-time' : '' " aria-hidden="true"> {{simDoc.disabled ? 'Requested' : 'Request'}}</span>
                                        </button>
                                        <span ng-if="vm.currentUserWalletAddress === simDoc.publisherWalletAddress">Self</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-if="vm.results.listOfSimilarUnpublishedWork.length > 0">
                <div uib-accordion-group class="panel-primary" heading="Similar Documents in Unpublished Work stream" is-open="false">
                    <div class="panel panel-default">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Document</th>
                                <th>Similarity Percentage</th>
                                <th>Contact Info</th>
                                <th>*Request Author</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="simDoc in vm.results.listOfSimilarUnpublishedWork">
                                <td>{{simDoc.fileName}}</td>
                                <td>{{simDoc.similarityScore * 100 | number : 2}}%</td>
                                <td>{{simDoc.contactInfo}}</td>
                                <td>
                                    <button class="btn btn-default" type="button" ng-click="vm.createPlagCheckRequest(simDoc)" ng-disabled="simDoc.disabled">
                                        <span ng-class="simDoc.disabled ? 'glyphicon glyphicon-time' : '' " aria-hidden="true"> {{simDoc.disabled ? 'Requested' : 'Request'}}</span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </uib-accordion>
        <div class="panel panel-info panel-body" ng-if="vm.results.listOfSimilarPublishedWork.length > 0 || vm.results.listOfSimilarUnpublishedWork.length > 0">
            <p align="justify">
                <strong>* Request Author:</strong>
                You can request the author of the document to upload more hashes of that particular document.
                After the author has accepted your request, you will need to re-upload that particular document and we will calculate the similar parts of the document.
                You can track the status in <i>Doc Requests</i> menu item.
                Please note that we will not store or use the actual document for comparison, of yours or of the author.
            </p>
        </div>
    </div>
</div>
