<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4 align="center">Check Plagiarism</h4>
        <div ng-if="vm.fileData.error">
            <jhi-alert>{{vm.data.error}}</jhi-alert>
        </div>
        <div class="col-sm-10">
            <p align="left">* Mandatory Fields</p>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <form name="pdfPlagCheck" role="form" novalidate ng-submit="vm.checkForPlagiarism()" show-validation>
            <div class="form-group">
                <label for="plagCheckDoc" class="control-label">File: *</label>
                <input class="form-control" name="plagCheckDoc" id="plagCheckDoc" ng-model="vm.data.plagCheckDoc"
                       type="file" accept=".pdf" ngf-select ngf-max-size="50MB" required>
                <p class="help-block">Please upload only .pdf file.</p>
                <div ng-show="pdfPlagCheck.plagCheckDoc.$dirty && pdfPlagCheck.plagCheckDoc.$invalid">
                    <p class="help-block" ng-show="pdfPlagCheck.plagCheckDoc.$error.required">Please select a pdf file.</p>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input id="checkUnpublishedWork" name="checkUnpublishedWork" ng-model="vm.data.checkUnpublishedWork" type="checkbox"> Check for plagiarism in <b>unpublished</b> work stream.
                    </label>
                </div>
            </div>
            <button type="submit" ng-disabled="pdfPlagCheck.$invalid" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
